# TW1

## Pandas Series and DataFrame

- Practice Pandas Series and DataFrame with examples.

#### Write your full name.
Phu Han



#### Submission:

-Start a new Github repository for this course.

-Push the completed code to your Github repository.

## Part 0

Practice Pandas Series and DataFrame with the given examples.

In [1]:
import pandas as pd

In [2]:
alist = ['Mouse', 'Giraffe', 'Tiger', 'Dog', 'Hippopotamus', 'Moose', 'Bear']
animals = pd.Series(alist)
animals

0           Mouse
1         Giraffe
2           Tiger
3             Dog
4    Hippopotamus
5           Moose
6            Bear
dtype: object

In [3]:
animals[2]

'Tiger'

In [4]:
animals.iloc[2]

'Tiger'

In [5]:
animals.loc[2]

'Tiger'

In [6]:
s1 = pd.Series(alist, index=[0, 1, 2, 3, 4, 5, 6])
s1.iloc[2]

'Tiger'

In [7]:
s1.loc[2]

'Tiger'

In [8]:
s2 = pd.Series(alist, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s2

a           Mouse
b         Giraffe
c           Tiger
d             Dog
e    Hippopotamus
f           Moose
g            Bear
dtype: object

In [9]:
s2['c']

'Tiger'

In [10]:
s2.iloc[2]

'Tiger'

In [11]:
names = ['Chris', 'Kevin', 'Bob', 'Vinod', 'Daniel', 'Fil', 'Stephanie']
owners = pd.Series(names)
owners

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
dtype: object

In [12]:
frame = {'animals': animals, 'owners': owners}

df = pd.DataFrame(frame)

df

        animals     owners
0         Mouse      Chris
1       Giraffe      Kevin
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [13]:
df.columns

Index(['animals', 'owners'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
type(df['animals'])

pandas.core.series.Series

In [16]:
df.iloc[0]

animals    Mouse
owners     Chris
Name: 0, dtype: object

In [17]:
df.iloc[0, 1]

'Chris'

In [18]:
df.owners

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
Name: owners, dtype: object

In [19]:
df['owners']

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
Name: owners, dtype: object

In [20]:
# copy an existing DataFrame to create a new dataFrame
copy_df = df.copy()
copy_df

        animals     owners
0         Mouse      Chris
1       Giraffe      Kevin
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [21]:
# drop columns

df2 = df.drop(['owners'], axis = 1)

df2

        animals
0         Mouse
1       Giraffe
2         Tiger
3           Dog
4  Hippopotamus
5         Moose
6          Bear

In [22]:
# drop columns

df3 = df.drop(columns = ['owners'])

df3

        animals
0         Mouse
1       Giraffe
2         Tiger
3           Dog
4  Hippopotamus
5         Moose
6          Bear

In [23]:
# drop rows

df4 = df.drop([0,1])
df4

        animals     owners
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [24]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight']],
                     codes=[[0, 0, 1, 1, 2, 2],
                            [0, 1, 0, 1, 0, 1]])

midx

MultiIndex([(  'lama',  'speed'),
            (  'lama', 'weight'),
            (   'cow',  'speed'),
            (   'cow', 'weight'),
            ('falcon',  'speed'),
            ('falcon', 'weight')],
           )

In [25]:
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                   data=[[45, 30], [200, 100], [30, 20], [250, 150], [320, 250],[1, 0.8]])

df

               big  small
lama   speed    45   30.0
       weight  200  100.0
cow    speed    30   20.0
       weight  250  150.0
falcon speed   320  250.0
       weight    1    0.8

In [26]:
df.drop(index='cow', columns='small')

               big
lama   speed    45
       weight  200
falcon speed   320
       weight    1

In [27]:
df.drop(index='weight', level=1)

              big  small
lama   speed   45   30.0
cow    speed   30   20.0
falcon speed  320  250.0

## Part 1 Task 1

Given the data below, implement each tasks.

<img src="img/df.png" style="height:200px">

(1) Create a DataFrame.

(2) Access the first row data and print it.

(3) Access the first column data (indexed by 'dept') and print it.

(4) Create a new DataFrame by dropping the 2nd column data (indexed by 'floor') from the current DataFrame.

In [28]:
import pandas as pd

data = {
    'dept': ['CS', 'Bio', 'Chem', 'Phy', 'Eng'],
    'floor': [5, 3, 3, 2, 4]
}

df = pd.DataFrame(data)
print(df)

   dept  floor
0    CS      5
1   Bio      3
2  Chem      3
3   Phy      2
4   Eng      4

In [29]:
first_row = df.iloc[0]
print(first_row)

dept     CS
floor     5
Name: 0, dtype: object

In [30]:
dept_column = df['dept']
print(dept_column)

0      CS
1     Bio
2    Chem
3     Phy
4     Eng
Name: dept, dtype: object

In [31]:
df_no_floor = df.drop(columns=['floor'])
print(df_no_floor)

   dept
0    CS
1   Bio
2  Chem
3   Phy
4   Eng

## Part 1 Task 2

Practice with a data file.

(1) Choose one data file from the data folder in the given TW1 folder.

(2) Read the data into a DataFrame.

(3) Access the rows and columns.

(4) Drop some columns.

In [32]:
df = pd.read_csv('./data/cars.csv')

df.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YEAR               53 non-null     int64
 1   Make               53 non-null     object
 2   Model              53 non-null     object
 3   Size               53 non-null     object
 4   (kW)               53 non-null     int64
 5   Unnamed: 5         53 non-null     object
 6   TYPE               53 non-null     object
 7   CITY (kWh/100 km)  53 non-null     float64
 8   HWY (kWh/100 km)   53 non-null     float64
 9   COMB (kWh/100 km)  53 non-null     float64
 10  CITY (Le/100 km)   53 non-null     float64
 11  HWY (Le/100 km)    53 non-null     float64
 12  COMB (Le/100 km)   53 non-null     float64
 13  (g/km)             53 non-null     int64
 14  RATING             19 non-null     float64
 15  (km)               53 non-null     int64
 16  TIME (h)           53 non-null     int64
dtypes: float64(7), int64(5), object(5)
memory usage: 7.2+ KB

In [42]:
print(df.isnull().sum())

YEAR                  0
Make                  0
Model                 0
Size                  0
(kW)                  0
Unnamed: 5            0
TYPE                  0
CITY (kWh/100 km)     0
HWY (kWh/100 km)      0
COMB (kWh/100 km)     0
CITY (Le/100 km)      0
HWY (Le/100 km)       0
COMB (Le/100 km)      0
(g/km)                0
RATING               34
(km)                  0
TIME (h)              0
dtype: int64

In [33]:
car_info = df[['Make', 'Model']]
print("\n--- Car Information ---")
print(car_info.head())

--- Car Information ---
         Make           Model
0  MITSUBISHI          i-MiEV
1      NISSAN            LEAF
2        FORD  FOCUS ELECTRIC
3  MITSUBISHI          i-MiEV
4      NISSAN            LEAF

In [34]:
makes = df['Make']

In [35]:
print(makes.unique())

['MITSUBISHI' 'NISSAN' 'FORD' 'SMART' 'TESLA' 'CHEVROLET' 'BMW' 'KIA']

In [36]:
first_row = df.iloc[0]
first_row

YEAR                       2012
Make                 MITSUBISHI
Model                    i-MiEV
Size                 SUBCOMPACT
(kW)                         49
Unnamed: 5                   A1
TYPE                          B
CITY (kWh/100 km)          16.9
HWY (kWh/100 km)           21.4
COMB (kWh/100 km)          18.7
CITY (Le/100 km)            1.9
HWY (Le/100 km)             2.4
COMB (Le/100 km)            2.1
(g/km)                        0
RATING                      NaN
(km)                        100
TIME (h)                      7
Name: 0, dtype: object

In [37]:
subset = df.iloc[0:5]
subset

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [38]:
print(df.columns)

Index(['YEAR', 'Make', 'Model', 'Size', '(kW)', 'Unnamed: 5', 'TYPE',
       'CITY (kWh/100 km)', 'HWY (kWh/100 km)', 'COMB (kWh/100 km)',
       'CITY (Le/100 km)', 'HWY (Le/100 km)', 'COMB (Le/100 km)', '(g/km)',
       'RATING', '(km)', 'TIME (h)'],
      dtype='object')

In [39]:
df_cleaned = df.drop(['Unnamed: 5', '(g/km)'], axis=1)

print(df_cleaned.columns)

Index(['YEAR', 'Make', 'Model', 'Size', '(kW)', 'TYPE', 'CITY (kWh/100 km)',
       'HWY (kWh/100 km)', 'COMB (kWh/100 km)', 'CITY (Le/100 km)',
       'HWY (Le/100 km)', 'COMB (Le/100 km)', 'RATING', '(km)', 'TIME (h)'],
      dtype='object')

In [40]:
df_cleaned

,YEAR,Make,Model,Size,(kW),TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,B,16.9,21.4,18.7,1.9,2.4,2.1,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,B,19.3,23.0,21.1,2.2,2.6,2.4,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,B,19.0,21.1,20.0,2.1,2.4,2.2,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,B,16.9,21.4,18.7,1.9,2.4,2.1,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,B,19.3,23.0,21.1,2.2,2.6,2.4,NaN,117,7
5,2013,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,NaN,109,8
6,2013,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,NaN,109,8
7,2013,TESLA,MODEL S (40 kWh battery),FULL-SIZE,270,B,22.4,21.9,22.2,2.5,2.5,2.5,NaN,224,6
8,2013,TESLA,MODEL S (60 kWh battery),FULL-SIZE,270,B,22.2,21.7,21.9,2.5,2.4,2.5,NaN,335,10
9,2013,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,B,23.8,23.2,23.6,2.7,2.6,2.6,NaN,426,12
10,2013,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,B,23.9,23.2,23.6,2.7,2.6,2.6,NaN,426,12
11,2014,CHEVROLET,SPARK EV,SUBCOMPACT,104,B,16.0,19.6,17.8,1.8,2.2,2.0,NaN,131,7
12,2014,FORD,FOCUS ELECTRIC,COMPACT,107,B,19.0,21.1,20.0,2.1,2.4,2.2,NaN,122,4
13,2014,MITSUBISHI,i-MiEV,SUBCOMPACT,49,B,16.9,21.4,18.7,1.9,2.4,2.1,NaN,100,7
14,2014,NISSAN,LEAF,MID-SIZE,80,B,16.5,20.8,18.4,1.9,2.3,2.1,NaN,135,5
15,2014,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,NaN,109,8
16,2014,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,NaN,109,8
17,2014,TESLA,MODEL S (60 kWh battery),FULL-SIZE,225,B,22.2,21.7,21.9,2.5,2.4,2.5,NaN,335,10
18,2014,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,B,23.8,23.2,23.6,2.7,2.6,2.6,NaN,426,12
19,2014,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,B,23.9,23.2,23.6,2.7,2.6,2.6,NaN,426,12
20,2015,BMW,i3,SUBCOMPACT,125,B,15.2,18.8,16.8,1.7,2.1,1.9,NaN,130,4
21,2015,CHEVROLET,SPARK EV,SUBCOMPACT,104,B,16.0,19.6,17.8,1.8,2.2,2.0,NaN,131,7
22,2015,FORD,FOCUS ELECTRIC,COMPACT,107,B,19.0,21.1,20.0,2.1,2.4,2.2,NaN,122,4
23,2015,KIA,SOUL EV,STATION WAGON - SMALL,81,B,17.5,22.7,19.9,2.0,2.6,2.2,NaN,149,4
24,2015,MITSUBISHI,i-MiEV,SUBCOMPACT,49,B,16.9,21.4,18.7,1.9,2.4,2.1,NaN,100,7
25,2015,NISSAN,LEAF,MID-SIZE,80,B,16.5,20.8,18.4,1.9,2.3,2.1,NaN,135,5
26,2015,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,NaN,109,8
27,2015,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,NaN,109,8
28,2015,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,B,22.2,21.7,21.9,2.5,2.4,2.5,NaN,335,10
29,2015,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,B,23.8,23.2,23.6,2.7,2.6,2.6,NaN,377,12
30,2015,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,B,23.8,23.2,23.6,2.7,2.6,2.6,NaN,426,12
31,2015,TESLA,MODEL S 70D,FULL-SIZE,280,B,20.8,20.6,20.7,2.3,2.3,2.3,NaN,386,12
32,2015,TESLA,MODEL S 85D/90D,FULL-SIZE,280,B,22.0,19.8,21.0,2.5,2.2,2.4,NaN,435,12
33,2015,TESLA,MODEL S P85D/P90D,FULL-SIZE,515,B,23.4,21.5,22.5,2.6,2.4,2.5,NaN,407,12
34,2016,BMW,i3,SUBCOMPACT,125,B,15.2,18.8,16.8,1.7,2.1,1.9,10.0,130,4
35,2016,CHEVROLET,SPARK EV,SUBCOMPACT,104,B,16.0,19.6,17.8,1.8,2.2,2.0,10.0,131,7
36,2016,FORD,FOCUS ELECTRIC,COMPACT,107,B,19.0,21.1,20.0,2.1,2.4,2.2,10.0,122,4
37,2016,KIA,SOUL EV,STATION WAGON - SMALL,81,B,17.5,22.7,19.9,2.0,2.6,2.2,10.0,149,4
38,2016,MITSUBISHI,i-MiEV,SUBCOMPACT,49,B,16.9,21.4,18.7,1.9,2.4,2.1,10.0,100,7
39,2016,NISSAN,LEAF (24 kWh battery),MID-SIZE,80,B,16.5,20.8,18.4,1.9,2.3,2.1,10.0,135,5
40,2016,NISSAN,LEAF (30 kWh battery),MID-SIZE,80,B,17.0,20.7,18.6,1.9,2.3,2.1,10.0,172,6
41,2016,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,10.0,109,8
42,2016,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,B,17.2,22.5,19.6,1.9,2.5,2.2,10.0,109,8
43,2016,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,B,22.2,21.7,21.9,2.5,2.4,2.5,10.0,335,10
44,2016,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,B,23.8,23.2,23.6,2.7,2.6,2.6,10.0,377,12
45,2016,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,B,23.8,23.2,23.6,2.7,2.6,2.6,10.0,426,12
46,2016,TESLA,MODEL S 70D,FULL-SIZE,386,B,20.8,20.6,20.7,2.3,2.3,2.3,10.0,386,12
47,2016,TESLA,MODEL S 85D/90D,FULL-SIZE,386,B,22.0,19.8,21.0,2.5,2.2,2.4,10.0,435,12
48,2016,TESLA,MODEL S 90D (Refresh),FULL-SIZE,386,B,20.8,19.7,20.3,2.3,2.2,2.3,10.0,473,12
49,2016,TESLA,MODEL S P85D/P90D,FULL-SIZE,568,B,23.4,21.5,22.5,2.6,2.4,2.5,10.0,407,12
50,2016,TESLA,MODEL S P90D (Refresh),FULL-SIZE,568,B,22.9,21.0,22.1,2.6,2.4,2.5,10.0,435,12
51,2016,TESLA,MODEL X 90D,SUV - STANDARD,386,B,23.2,22.2,22.7,2.6,2.5,2.6,10.0,414,12
52,2016,TESLA,MODEL X P90D,SUV - STANDARD,568,B,23.6,23.3,23.5,2.7,2.6,2.6,10.0,402,12