### Exercise 1

In [1]:
import math

In [9]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height_cm = float(input("Enter your height (cm): "))
weight_kg = float(input("Enter your weight (kg): "))

print("\n--- Name info ---")
print("Lowercase:", name.lower())
print("Uppercase:", name.upper())
print("Length:", len(name))

height_m = height_cm / 100

bmi = weight_kg / (height_m ** 2)

print("\n--- Height and BMI ---")
print("Height (meters):", height_m)
print("BMI:", bmi)

print("Weight divided by π:", weight_kg / math.pi)

age_in_days = age * 365
print("\nAge in days:", age_in_days)

print("\n--- Name characters ---")
for char in name:
    print(char)

Enter your name:  Phu
Enter your age:  23
Enter your height (cm):  169
Enter your weight (kg):  65

--- Name info ---
Lowercase: phu
Uppercase: PHU
Length: 3

--- Height and BMI ---
Height (meters): 1.69
BMI: 22.758306781975424
Weight divided by π: 20.690142601946395

Age in days: 8395

--- Name characters ---
P
h
u

### Exercise 2

In [10]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

print(f"Sum: {num1 + num2}")
print(f"Difference: {num1 - num2}")
print(f"Product: {num1 * num2}")

if num2 != 0:
    print(f"Quotient: {num1 / num2}")
else:
    print("Can not divide by 0")

Enter the first number:  23
Enter the second number:  2

Sum: 25.0
Difference: 21.0
Product: 46.0
Quotient: 11.5

### Exercise 3

In [14]:
numbers = []

for i in range(10):
    num = int(input(f"Enter integer {i + 1}: "))
    numbers.append(num)

print("\nNumbers:", numbers)

mean = sum(numbers) / len(numbers)
print("Mean:", mean)

print("Min:", min(numbers))
print("Max:", max(numbers))

count_gt_50 = 0
for num in numbers:
    if num > 50:
        count_gt_50 += 1
print("Total counts of numbers > 50:", count_gt_50)

odd_numbers = []
for num in numbers:
    if num % 2 != 0:
        odd_numbers.append(num)
print("Odd numbers:", odd_numbers)

numbers_divisible_by_3 = []
for num in numbers:
    if num % 3 == 0:
        numbers_divisible_by_3.append(num)
print("Numbers divisible by 3:", numbers_divisible_by_3)

print("Sorted (ascending):", sorted(numbers))
print("Sorted (descending):", sorted(numbers, reverse=True))

reversed_list = list(reversed(numbers))
print("Reversed list:", reversed_list)

Enter integer 1:  1
Enter integer 2:  3
Enter integer 3:  5
Enter integer 4:  55
Enter integer 5:  69
Enter integer 6:  66
Enter integer 7:  56
Enter integer 8:  99
Enter integer 9:  100
Enter integer 10:  252

Numbers: [1, 3, 5, 55, 69, 66, 56, 99, 100, 252]
Mean: 70.6
Min: 1
Max: 252
Total counts of numbers > 50: 7
Odd numbers: [1, 3, 5, 55, 69, 99]
Numbers divisible by 3: [3, 69, 66, 99, 252]
Sorted (ascending): [1, 3, 5, 55, 56, 66, 69, 99, 100, 252]
Sorted (descending): [252, 100, 99, 69, 66, 56, 55, 5, 3, 1]
Reversed list: [252, 100, 99, 56, 66, 69, 55, 5, 3, 1]

### Excercise 4

In [5]:
def add(a, b):
    return a + b

def multiply(a, b):
    return a * b

def power(a, b):
    return a ** b


a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))

print("\nResults:")
print("Add:", add(a, b))
print("Multiply:", multiply(a, b))
print("Power:", power(a, b))

Enter first integer:  5
Enter second integer:  6

Results:
Add: 11
Multiply: 30
Power: 15625

### Excersise 5

In [19]:
students = {}

for i in range(5):
    name = input(f"Enter student {i + 1} name: ")
    score = float(input(f"Enter {name}'s score: "))
    students[name] = score

print("\nStudent Scores:", students)

average = sum(students.values()) / len(students)
print("Class average:", average)

top_student = max(students, key=students.get)
print("Highest score:", top_student, "-", students[top_student])

above_90 = []
for name, score in students.items():
    if score > 90:
        above_90.append(name + ": " + str(score))
print("Students scoring above 90:", above_90)

Enter student 1 name:  Trinh
Enter Trinh's score:  98
Enter student 2 name:  Phu
Enter Phu's score:  96
Enter student 3 name:  C
Enter C's score:  97
Enter student 4 name:  D
Enter D's score:  90
Enter student 5 name:  E
Enter E's score:  88

Student Scores: {'Trinh': 98.0, 'Phu': 96.0, 'C': 97.0, 'D': 90.0, 'E': 88.0}
Class average: 93.8
Highest score: Trinh - 98.0
Students scoring above 90: ['Trinh: 98.0', 'Phu: 96.0', 'C: 97.0']